# C:\Users\User\Desktop\MYPROGECT\progect.psd
# C:\Users\User\Desktop\MYPROGECT\gulpfile.js
# C:\Users\User\Desktop\MYPROGECT\package.json
# C:\Users\User\Desktop\MYPROGECT\package-lock.json
# C:\Users\User\Desktop\MYPROGECT\node_modules

gulpfile.js
package-lock.json
package.json
progect.psd
node_modules